.cardsContainer {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
  padding: 1rem;
}

.cardsContainerTitle {
  font-family: var(--cabin);
  margin-left: 1rem;
  color: #fefefe;
}

.datesContainer {
  padding: 0 0 1rem 0;
  margin-bottom: 0rem;
}
